# Baserow API Configuration
BASEROW_API_URL=your_baserow_url
BASEROW_API_TOKEN=your_baserow_api_token
BASEROW_TABLE_ID=your_base_id_here
BASEROW_PARTNERS_TABLE_ID=your_partner_table_id_here
BASEROW_MODERATION_FIELD_ID=your_moderation_field_id_here

# Server
PORT=3000
