# Baserow API Configuration
BASEROW_API_URL=your_baserow_url
BASEROW_API_TOKEN=your_baserow_api_token
BASEROW_EVENT_TABLE_ID=your_Evenements_table_id_here
BASEROW_MODERATION_FIELD_ID=your_event_moderation_field_id_here
BASEROW_PARTNERS_TABLE_ID=your_partner_table_id_here
BASEROW_THEMATIQUES_TABLE_ID=your_Thematiques_table_id_here
BASEROW_FORMATS_TABLE_ID=your_Formats_table_id_here
BASEROW_PUBLICS_TABLE_ID=your_Publics_table_id_here


# Server
PORT=3000
